* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    /*background-color: black;*/
    position: relative;
    z-index: 10;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ffa07a;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
#page1 video{
height: 100%;
width: 100%;
object-fit: cover;
position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.386);*/
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vw;
}
* {
    box-sizing: border-box;
}

.header_link_text {
    text-decoration: none;
}

a {
    color: var(--sundown-orange); 
    font-family: 'Neuehaasdisplay mediu', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
}

a:hover {
    color: #fff; /* Couleur lors du survol */
}

/* Styles pour la navigation */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    position: relative;
    z-index: 100;
}

nav h3 {
    font-size: 2vw;
    font-weight: 100;
}

h3 a {
    font-family: "Poiret One", sans-serif;
    font-size: 2.4vw;
    font-weight: 100;
 
}

nav h4 {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2vw;
}

nav ul li {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50vw;
    transition: all ease 0.4s;
}

nav ul li a {
    padding: .625em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Poiret One", sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
    font-style: normal;
    line-height: 0.9;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

nav ul li::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffa07ad6;
    left: 0;
    top: 100%;
    transition: all ease 0.4s;
    z-index: 0;
    border-radius: 100vw;
}

nav ul li:hover::after {
    top: 0;
}

nav ul li:hover a {
    color: #fff;
}

#page1-content h1{
    font-family: "Dorsa", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11vw;
    line-height: 20vw;

}
#page1-content h1 span{
    /*font-family: "Dorsa", sans-serif;*/
    display: inline-block;
    
}

#page2 {
    height: 100vh;
    width: 100%;
    top: -5vw;
    position: relative;
}

#page1 h1 {
    font-size: 6vw;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}


#fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page1 {
    background-color: #000000;
    z-index: 1000;
}


#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;

}

/* section what's on your mind today */
.options {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options h2 {
    font-size: 4vw; 
    margin-right: 20px; 
    margin-top: -30vw;
    margin-left: 90px; 
}


.options select {
    font-size: 17px;
    height: 100%;
    width: 900px; 
    padding: 5px; 
    margin-top: -53vw;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; 
}


.options select option {
    border-bottom: 1px solid #fff; 
}

/* Style pour le formulaire */
#contactForm {
    width: 300px; 
    margin-top: -290px;
    margin-left: 320px; 
    margin-right: auto; 
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

#contactForm button[type="submit"] {
    background-color: #ffa07a; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 1em; 
    cursor: pointer; 
    border-radius: 5px;
}

#contactForm button[type="submit"]:hover {
    background-color: #ff7f50; 
}

#showFormBtn {
    visibility: hidden;
}
.contact-right {
    position: absolute;
    top: 40%;
    right: 8%;
    text-align: right;
    line-height: 35px;
    font-size: 1.5vw;

}



#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 2vw;
    align-items: center;
}

#footer h1 {
    font-size: 18vw;
    position: relative;
    margin: 0;
    
}

#footer-div {
    height: 90vh;
    width: 100%;
    /*background-color: red;*/
}

#footer-bottom {
    width: 100%;
    padding: 5.5vh 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    margin-left: 2vh;
}

.footer-menu-link {
    color: #fff;
    text-decoration: none;
    font-size: 3.5vh;
    transition: color 0.3s;
}

.footer-menu-link:hover {
    color: #ffa07a;
}

.newsletter-wrap {
    text-align: center;
    max-width: 50%;
}

.newsletter-heading-wrapper {
    margin-bottom: 1vh;
}

.text-size-large {
    font-size: 4vh;
}

.form-wrapper {
    max-width: 400px;
    margin: 0 auto;
    
}

.text-field {
    width: calc(100% - 40px);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.submit-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

.submit-button:hover {
    background-color: #ff7f50;
}

.submit-button img {
    width: 100%;
    height: 100%;
}

.success-message, .error-message {
    display: none;
    margin-top: 1rem;
}

.footer-links {
    text-align: center;
    margin-top: 2rem;
}

.footer-line-break {
    width: 80%;
    height: 1px;
    background-color: #ffa07a;
    margin: 1rem auto;
}

.footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.footer-copyright {
    flex: 1;
    margin-bottom: 2.5vw;
}

.footer-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2.5vw;
}

.location-icon {
    width: 24px;
    height: 24px;
    background: url('https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15cb_Globe.svg') no-repeat center center;
    background-size: cover;

}

.footer-socials {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5vw;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #ffa07a;
}

@media (max-width: 600px) {
    
    nav{
        position: relative; 
    }
  
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(250, 235, 215, 0.868);
        width: 50%;
        padding: 10px 0;
        border-radius: 5px;
        z-index: 999;
    }
  
    nav ul.active {
        display: flex;
        flex-direction: column;
    }
  
    nav h3{
        transition: all ease 0.2s;
        height: 6vh;
        margin-top: 5%;
        margin-left: 4%;
        z-index: 100;
        display: block;
        position: relative;
  
        
    }
    nav h4 {
        display: block;
        padding: 10px;
        border: 1px solid white;
        border-radius: 50px;
        font-size: 5.5vw;
        font-weight: 200;
        cursor: pointer;
        z-index: 1000;
    }
  
    nav ul li {
        width: 100%;
        border-radius: 0;
        display: block;
    }
  
    nav ul li a {
        width: 100%;
        padding: 10px;
        font-size: 5.5vw;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
  
    }
    
    h3 a {
        font-family: "Poiret One", sans-serif;
        font-size: 6vw;
        font-weight: 200;
    }
  
    
    #footer {
        position: fixed;
        height: 60%;
        width: 80%;
        background-color: rgb(0, 0, 0);
        color: #fff;
        z-index: 9;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 2vw;
        align-items: center;
        padding-right: 5%;
    }
    
    #footer h1 {
        font-size: 18vw;
        position: relative;
        margin: 0;
  
    }
    
    #footer-div {
        height: 90vh;
        width: 100%;
        /*background-color: red;*/
    }
    
    #footer-bottom {
        width: 100%;
        padding: 5.5vh 0;
    }
    
    .footer-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
        margin-left: 2vh;
    }
    
    .footer-menu-link {
        color: #fff;
        text-decoration: none;
        font-size: 110%;
        transition: color 0.3s;
    }
    
    .footer-menu-link:hover {
        color: #ffa07a;
    }
    
    .newsletter-wrap {
        text-align: center;
        max-width: 50%;
    }
    
    .newsletter-heading-wrapper {
        margin-bottom: 1vh;
    }
    
    .text-size-large {
        font-size: 150%;
        margin-bottom: 15%;
    }
    
    .form-wrapper {
        max-width: 400px;
        margin: 0 auto;
        
    }
    
    .text-field {
        width: calc(100% - 40px);
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        display: inline-block;
    }
    
    .submit-button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        display: inline-block;
    }
    
    .submit-button:hover {
        background-color: #ff7f50;
    }
    
    .submit-button img {
        width: 100%;
        height: 100%;
    }
    
    .success-message, .error-message {
        display: none;
        margin-top: 1rem;
    }
    
    .footer-links {
        text-align: center;
        margin-top: 2rem;
    }
    
    .footer-line-break {
        width: 80%;
        height: 1px;
        background-color: #ffa07a;
        margin: 1rem auto;
    }
    
    .footer-links-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;
    }
    
    .footer-copyright {
        flex: 1;
        margin-bottom: 2.5vw;
        font-size: 70%;
    }
    
    .footer-location {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 2.5vw;
        font-size: 70%;
    }
    
    .location-icon {
        width: 24px;
        height: 24px;
        background: url('https://assets-global.website-files.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15cb_Globe.svg') no-repeat center center;
        background-size: cover;
    
    }
    
    .footer-socials {
        display: flex;
        gap: 1rem;
        margin-bottom: 2.5vw;
        font-size: 70%;
    }
    
    .footer-link {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s;
        font-size: 100%;
    }
    
    .footer-link:hover {
        color: #ffa07a;
    }
    
  
    
    #loader{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: black;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 10%;
    
    }
    
    #loader h3{
        font-size: 150%;
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 5px;
        display: inline;
    }

.options {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.options h2 {

    font-size: 4vw; 
    margin-right: 20px; 
    margin-top: -30vw;
    margin-left: 90px; 
}


.options select {
    font-size: 17px;
    height: 100%;
    width: 900px; 
    padding: 5px; 
    margin-top: -53vw;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

.options select option {
    border-bottom: 1px solid #fff; 
}

/* le formulaire */
#contactForm {
    width: 300px; 
    margin-top: -290px;
    margin-left: 320px; 
    margin-right: auto;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

#contactForm button[type="submit"] {
    background-color: #ffa07a; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer;
    border-radius: 5px;
}

#contactForm button[type="submit"]:hover {
    background-color: #ff7f50; 
}

#showFormBtn {
    visibility: hidden;
}
.contact-right {
    position: absolute;
    top: 40%;
    right: 8%;
    text-align: right;
    line-height: 35px;
    font-size: 1.5vw;

}

    
  }